<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="/">Ki.img</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="img">Ver imagenes <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Informacion</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Mas Proyectos</a>
    </div>
  </div>
</nav>